<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div align="center">
<img src="https://png2.cleanpng.com/dy/03c9f3b186bdcbd0f2d11f75c6e1599a/L0KzQYm3VMA5N5JtfZH0aYP2gLBuTfNpfZRwRdD4coLsg37xhf5scZ94ReJ1dXewebA0iQVle5DzRdV4boTsfsb2lgMucZ95RdVxdXPuPbB2kwJqe146edVqMXG6crO9hclnOl87TKM6OEO0QYK8UsMyQWU5UaMCNEm1PsH1h5==/kisspng-chuck-norris-jenkins-plug-in-hudson-continuous-int-chuck-norris-5aca1a7bb6e9f2.6411831115231944917492.png">
</div>

<a href="/add" class="btn btn-primary btn-block" role="button">Create</a>
<a href="/list" class="btn btn-info btn-block" role="button">Read or Update or Delete</a>
{#<a href="/update" class="btn btn-warning btn-block" role="button">Update</a>#}
{#<a href="/delete" class="btn btn-danger btn-block" role="button">Delete</a>#}
<hr>
<a href="/logout" class="btn btn-danger btn-block" role="button">Logout</a>
</body>
